.page-header {
  background-color: rgb(44, 193, 133);
  padding: 20px 20px 20px 40px;
  margin-top: 0px;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1 {
  color: #fff;
  font-family: "Kaushan Script", cursive;
}

h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

.date {
  float: right;
  color: #545454;
  font-size: 8px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.538;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #545454;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
  color: rgb(84, 84, 84);
  font-weight: 400;
  line-height: 1.15;
}
